.signup {
    padding: 100px 0 0 0;
    height: 100dvh;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 36px;

        form {
            width: 100%;
        }
    }

    &__inp-flex {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        width: 100%;
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 6px;
        width: 100%;

        p {
            color: #171717;
            font-size: 14px;
        }

        input {
            width: 100%;
            padding: 18px 16px;
            color: #171717;
            background-color: #fff;
            border-radius: 24px;
            outline: none;
            border: 1px solid #fff;
            cursor: pointer;
            font-family: "Plus Jakarta Sans", sans-serif;
            transition: all .5s ease;

            &:hover {
                border: 1px solid #A175F0;
            }

            &::placeholder {
                color: #171717;
                font-family: "Plus Jakarta Sans", sans-serif;
            }
        }
    }

    &__inp {
        position: relative;
        width: 100%;
    }

    &__position {
        position: absolute;
        right: 16px;
        top: 18px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        color: #171717;
    }

    &__btn-next {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
        padding-top: 32px;
    }

    &__btn {
        width: 100%;
        padding: 15px 0;
        border: 1px solid #A175F0;
        background-color: #A175F0;
        color: #fff;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 800;
        font-family: "Plus Jakarta Sans", sans-serif;
        cursor: pointer;
        margin-bottom: 12px;
        transition: all .5s ease;

        &:hover {
            background-color: transparent;
            color: #A175F0;
        }
    }

    &__line-flex {
        display: flex;
        align-items: center;
        gap: 19px;
        width: 100%;

        p {
            color: #000000b3;
            font-size: 14px;
            font-weight: 500;
            width: 100%;
            text-align: center;
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #EBEBEB;
    }

    &__btn-flex {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    &__btn-app {
        width: 100%;
        padding: 17px 0;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 24px;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
            border: 1px solid #A175F0;
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding-top: 96px;
        padding-bottom: 58px;

        p {
            color: #000000b3;
            font-size: 14px;
        }
    }

    &__link {
        color: #171717;
        font-size: 14px;
        font-weight: 600;
    }
}