.profile {
    padding: 12px 0 16px 0;
    margin-bottom: 12px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__name {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        p {
            color: #ffffffcc;
            font-size: 14px;
        }

        h3 {
            color: #ffffffcc;
            font-size: 18px;
        }
    }

    &__coin {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 70px;
        padding: 12px;
        border-radius: 12px;
        background-color: #fff;
    }
}