.head {
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 0 0 12px 0;
    border-radius: 0 0 28px 28px;
    background-color: #fff;
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        width: 100%;    
        padding: 82px 0 0 0;
        h1 {
            font-size: 17px;
            color: #171717;
        }
    }

    &__btn {
        width: 44px;
        height: 44px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
    }

    &__div {
        width: 44px;
        height: 44px;
    }
}