@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F1FF;
    font-family: "Plus Jakarta Sans", sans-serif;
}

ul,
ol,
p,
a {
    text-decoration: none;
    list-style: none;
}

// h1 {
//     font-size: 30px;
//     font-weight: 700;
//     color: #171717;
// }

.container {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding: 0 16px;
}

// ::selection {
//     background-color: #A877FB;
// }