

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

ul,
ol,
p,
a {
    text-decoration: none;
    list-style: none;
}

h1 {
    
}

p {

}

.container {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding: 0 16px;
}

::selection {

}

